## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,22.0752,-159.3190,80.58,76,60,7.00,broken clouds
1,1,Klaksvik,FO,62.2266,-6.5890,45.52,98,100,12.86,overcast clouds
2,2,Albany,US,42.6001,-73.9662,40.03,88,100,2.59,overcast clouds
3,3,Yellowknife,CA,62.4560,-114.3525,23.41,66,99,13.00,overcast clouds
4,4,Marsa Matruh,EG,31.3525,27.2453,63.34,69,0,9.22,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
user_max_temp = float(input("What's the hottest you'd like the temperature? "))
user_min_temp = float(input("What's the coldest you'd want the temperature? "))

What's the hottest you'd like the temperature? 90
What's the coldest you'd want the temperature? 80

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
city_data_df["Max Temp"] = pd.to_numeric(city_data_df["Max Temp"])

preferred_cities = city_data_df.loc[(city_data_df["Max Temp"] <= user_max_temp) & (city_data_df["Max Temp"] >= user_min_temp)]

preferred_cities

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,22.0752,-159.3190,80.58,76,60,7.00,broken clouds
27,27,Bilma,NE,18.6853,12.9164,85.10,5,11,5.23,few clouds
43,43,Hope,US,33.6671,-93.5916,80.65,45,2,6.98,clear sky
53,53,Hithadhoo,MV,-0.6000,73.0833,82.74,70,32,5.48,scattered clouds
58,58,Avarua,CK,-21.2078,-159.7750,80.65,78,20,5.75,few clouds
...,...,...,...,...,...,...,...,...,...,...
621,621,Calamar,CO,10.2511,-74.9146,86.70,62,100,8.52,overcast clouds
628,628,Makakilo City,US,21.3469,-158.0858,82.72,48,0,20.71,clear sky
635,635,Dhidhdhoo,MV,6.8833,73.1000,83.03,71,6,4.47,clear sky
637,637,Cairns,AU,-16.9167,145.7667,82.06,88,75,1.14,broken clouds
641,641,Formosa,AR,-26.1775,-58.1781,80.58,83,100,3.44,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities.isnull().sum()

Unnamed: 0             0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities.drop("Unnamed: 0", axis=1)
clean_df = clean_df.dropna()

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kapaa,US,80.58,broken clouds,22.0752,-159.3190,
27,Bilma,NE,85.10,few clouds,18.6853,12.9164,
43,Hope,US,80.65,clear sky,33.6671,-93.5916,
53,Hithadhoo,MV,82.74,scattered clouds,-0.6000,73.0833,
58,Avarua,CK,80.65,few clouds,-21.2078,-159.7750,
66,Butaritari,KI,81.46,overcast clouds,3.0707,172.7902,
72,Miraflores,MX,81.25,overcast clouds,19.2167,-98.8083,
73,Kieta,PG,82.38,broken clouds,-6.2167,155.6333,
81,Alyangula,AU,82.35,scattered clouds,-13.8483,136.4192,
93,San Patricio,US,86.18,clear sky,28.0170,-97.5169,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key, 
    "location": []
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    gLat = row["Lat"]
    gLng = row["Lng"]
    params["location"] = f"{gLat}, {gLng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    gUrl = f'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    

    # 6e. Make request and retrieve the JSON data from the search. 
    nearby_lodging_json = requests.get(gUrl, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = nearby_lodging_json["results"][0]["name"]
    except(IndexError):
        print("No hotel in this city's radius. Skipping...")

No hotel in this city's radius. Skipping...
No hotel in this city's radius. Skipping...
No hotel in this city's radius. Skipping...
No hotel in this city's radius. Skipping...
No hotel in this city's radius. Skipping...
No hotel in this city's radius. Skipping...
No hotel in this city's radius. Skipping...
No hotel in this city's radius. Skipping...

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kapaa,US,80.58,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
27,Bilma,NE,85.10,few clouds,18.6853,12.9164,Expeditions Ténére voyages
43,Hope,US,80.65,clear sky,33.6671,-93.5916,Best Western Hope
53,Hithadhoo,MV,82.74,scattered clouds,-0.6000,73.0833,Scoop Guest House
58,Avarua,CK,80.65,few clouds,-21.2078,-159.7750,Paradise Inn
...,...,...,...,...,...,...,...
621,Calamar,CO,86.70,overcast clouds,10.2511,-74.9146,Hostal Katyalex
628,Makakilo City,US,82.72,clear sky,21.3469,-158.0858,Marriott's Ko Olina Beach Club
635,Dhidhdhoo,MV,83.03,clear sky,6.8833,73.1000,Dhidhoo beach
637,Cairns,AU,82.06,broken clouds,-16.9167,145.7667,Mantra Trilogy Cairns
641,Formosa,AR,80.58,overcast clouds,-26.1775,-58.1781,Asterión Hotel

In [11]:
# 8a. Create the output File (CSV)
output_data_file = clean_hotel_df.to_csv('WeatherPy_vacation.csv')
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

'City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name\r\n0,Kapaa,US,80.58,broken clouds,22.0752,-159.319,Sheraton Kauai Coconut Beach Resort\r\n27,Bilma,NE,85.1,few clouds,18.6853,12.9164,Expeditions Ténére voyages\r\n43,Hope,US,80.65,clear sky,33.6671,-93.5916,Best Western Hope\r\n53,Hithadhoo,MV,82.74,scattered clouds,-0.6,73.0833,Scoop Guest House\r\n58,Avarua,CK,80.65,few clouds,-21.2078,-159.775,Paradise Inn\r\n66,Butaritari,KI,81.46,overcast clouds,3.0707,172.7902,Isles Sunset Lodge\r\n72,Miraflores,MX,81.25,overcast clouds,19.2167,-98.8083,Hotel Mansión\r\n73,Kieta,PG,82.38,broken clouds,-6.2167,155.6333,Uruna Bay Retreat\r\n81,Alyangula,AU,82.35,scattered clouds,-13.8483,136.4192,Groote Eylandt Lodge\r\n93,San Patricio,US,86.18,clear sky,28.017,-97.5169,"Motel 6 Sinton, TX"\r\n94,Kattivakkam,IN,84.29,broken clouds,13.2167,80.3167,Euronova Freezer\r\n100,Samarai,PG,81.3,broken clouds,-10.6167,150.6667,Nuli Sapi\r\n116,Lorengau,PG,81.14,overcast clouds,-2.0226,147.2712,Lorengau Harbourside Hotel\r\n122,Kirakira,SB,81.82,overcast clouds,-10.4544,161.9205,SanBiz Lodge\r\n123,Ler,SS,86.04,broken clouds,8.3018,30.1418,Leer Humanitarian Hub\r\n142,Celestun,MX,82.06,broken clouds,20.8667,-90.4,Posada Lilia\r\n146,Vila Velha,BR,82.35,few clouds,-20.3297,-40.2925,Hotel Vitória Palace\r\n149,Andros Town,BS,82.36,broken clouds,24.7,-77.7667,Hanks place\r\n156,Casa Grande,US,86.99,clear sky,32.8795,-111.7573,MainStay Suites Extended Stay Hotel Casa Grande\r\n166,Luvianos,MX,89.78,broken clouds,18.9167,-100.4,\r\n180,Harper,LR,80.29,overcast clouds,4.375,-7.7169,Screensaver\r\n185,Taoudenni,ML,87.19,clear sky,22.6783,-3.9836,\r\n189,Puerto Ayacucho,VE,83.05,overcast clouds,5.6639,-67.6236,Posada Turistica Manapiare\r\n196,Arawa,PG,82.17,broken clouds,-6.2132,155.5367,Coastline Guest House\r\n203,Takoradi,GH,82.0,overcast clouds,4.8845,-1.7554,Raybow International Hotel\r\n218,Providencia,MX,83.21,clear sky,28.7167,-111.5833,\r\n224,Agadez,NE,85.03,clear sky,19.75,10.25,\r\n231,Kavieng,PG,82.29,overcast clouds,-2.5744,150.7967,Nusa Island Retreat\r\n243,Barra Patuca,HN,83.16,scattered clouds,15.8,-84.2833,\r\n245,Pinotepa Nacional,MX,89.2,few clouds,16.3167,-98.0167,Hotel Maria Del Carmen\r\n246,Nioro,GM,80.02,broken clouds,13.35,-15.75,\r\n248,Morondava,MG,80.13,few clouds,-20.2833,44.2833,La Case Bambou\r\n258,Chazuta,PE,85.05,broken clouds,-6.5742,-76.1367,Cáliz Hostel Chazuta\r\n267,Tabou,CI,80.35,overcast clouds,4.423,-7.3528,hotêl doufoulougou\r\n277,Coahuayana,MX,83.66,broken clouds,18.7333,-103.6833,El rranchito michuacan de ocampos\r\n284,Tiarei,PF,86.0,scattered clouds,-17.5333,-149.3333,Le Rocher de Tahiti\r\n289,Barra,BR,83.03,broken clouds,-11.0894,-43.1417,Motel Albatroz\r\n295,Kahului,US,80.62,scattered clouds,20.8947,-156.47,Maui Seaside Hotel\r\n298,Lucea,JM,84.06,few clouds,18.451,-78.1736,Grand Palladium Jamaica Resort & Spa\r\n305,Tulagi,SB,82.4,overcast clouds,-9.0996,160.1476,Raiders Hotel & Dive\r\n306,Anloga,GH,82.74,light rain,5.7947,0.8973,Pin Drop Hotel\r\n307,Isangel,VU,82.38,overcast clouds,-19.55,169.2667,Tanna Lodge\r\n316,Tessaoua,NE,82.9,broken clouds,13.7574,7.9874,Benin Dan Kaabou Heberge\r\n318,Port Blair,IN,80.22,scattered clouds,11.6667,92.75,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"\r\n319,Kloulklubed,PW,80.55,overcast clouds,7.0419,134.2556,Storyboard Beach Resort\r\n328,Olinda,BR,82.13,broken clouds,-8.0089,-34.8553,Flat Quatro Rodas Olinda\r\n331,Saint-Georges,GD,80.28,few clouds,12.0564,-61.7485,Radisson Grenada Beach Resort\r\n339,Axim,GH,82.13,overcast clouds,4.8699,-2.2405,Axim Beach Resort And Spa\r\n347,Ferkessedougou,CI,85.51,overcast clouds,9.6,-5.2,Hotel Chateau\r\n349,Cockburn Town,TC,80.56,scattered clouds,21.4612,-71.1419,Osprey Beach Hotel\r\n354,Manadhoo,MV,82.67,few clouds,5.7667,73.3833,Bon Abri maldives\r\n356,Esna,EG,84.25,overcast clouds,25.2934,32.554,Orient Star Dahabyia Isna 05 Nights Each Sunday\r\n366,Alofi,NU,80.89,broken clouds,-19.0595,-169.9187,Taloa Heights\r\n374,Acapulco,MX,80.42,broken clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco\r\n382,Faanui,PF,82.0,broken clouds,-16.4833,-151.75,Bora-Bora Pearl Beach Resort & Spa\r\n389,Sola,VU,80.08,overcast clouds,-13.8833,167.55,Leumerus Bungalows\r\n394,Hobyo,SO,81.18,few clouds,5.3505,48.5268,Iftin hotel hobyo\r\n395,Moro,PK,82.87,clear sky,26.6646,68.0016,JAMEEL AHMED LANGAH\r\n418,Kavaratti,IN,82.11,broken clouds,10.5669,72.642,Hotels in Lakshadweep Islands\r\n430,Pedasi,PA,86.07,overcast clouds,7.5333,-80.0333,Selina Pedasi\r\n433,Yaan,NG,84.33,overcast clouds,7.3833,8.5667,\r\n442,La Montanita,CO,80.73,overcast clouds,1.4766,-75.4398,Casa Materna La Montañita\r\n468,Lamar,US,81.36,clear sky,33.6668,-95.5836,Kings Inn Paris TX\r\n477,Sabalgarh,IN,80.19,clear sky,26.25,77.4,Kailadevi studio\r\n480,Port-Gentil,GA,81.25,broken clouds,-0.7193,8.7815,Fengshui Residence\r\n483,La Libertad,EC,80.26,clear sky,-2.2333,-80.9,Playa Canela Hotel Boutique\r\n488,Madras,IN,84.18,scattered clouds,13.0878,80.2785,"Taj Connemara, Chennai"\r\n489,Porto Novo,BJ,84.02,overcast clouds,6.4965,2.6036,Tour Eiffel Hotel Benin\r\n491,Tual,ID,81.68,scattered clouds,-5.6667,132.75,Grand Vilia Hotel\r\n498,Mombaca,BR,81.3,overcast clouds,-5.7431,-39.6275,Mombaça Premium Hotel\r\n522,Adilpur,PK,80.26,clear sky,27.937,69.3187,Rajesh kukreja form house\r\n526,San Joaquin,US,83.19,clear sky,37.9333,-121.3011,University Plaza Waterfront Hotel\r\n530,Cayenne,GF,80.1,overcast clouds,4.9333,-52.3333,Hôtel Le Dronmi\r\n551,Laguna,US,82.18,clear sky,38.421,-121.4238,"Holiday Inn Express & Suites Elk Grove Central - Hwy 99, an IHG Hotel"\r\n568,Tombouctou,ML,87.33,clear sky,20.0,-3.0,\r\n572,Cartagena Del Chaira,CO,82.24,overcast clouds,1.3349,-74.8429,HOTEL LA ROCA\r\n575,Sur,OM,82.06,few clouds,22.5667,59.5289,Sur Plaza Hotel\r\n580,Arlit,NE,87.71,scattered clouds,18.7369,7.3853,Case de Passage De la Prefecture\r\n588,Oranjestad,AW,82.35,few clouds,12.524,-70.027,Divi Village Golf & Beach Resort\r\n595,San Andres,CO,84.22,few clouds,12.5847,-81.7006,Hotel Arena Blanca\r\n610,Alamogordo,US,81.95,clear sky,32.8995,-105.9603,Fairfield Inn & Suites by Marriott Alamogordo\r\n615,Sain Alto,MX,83.21,few clouds,23.5833,-103.25,Hotel Barraza\r\n621,Calamar,CO,86.7,overcast clouds,10.2511,-74.9146,Hostal Katyalex\r\n628,Makakilo City,US,82.72,clear sky,21.3469,-158.0858,Marriott\'s Ko Olina Beach Club\r\n635,Dhidhdhoo,MV,83.03,clear sky,6.8833,73.1,Dhidhoo beach\r\n637,Cairns,AU,82.06,broken clouds,-16.9167,145.7667,Mantra Trilogy Cairns\r\n641,Formosa,AR,80.58,overcast clouds,-26.1775,-58.1781,Asterión Hotel\r\n'

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weatherd</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))